﻿@model ENETMVC.Models.InterventionReviewViewModel

@{
    ViewBag.Title = "Intervention Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Core Info</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="interventionTypeDdl">Type</label>
                    @Html.TextBoxFor(model => model.Intervention.InterventionType.Name, new { @readonly = "readonly", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="interventionDurationTxt">Duration</label>
                    <div class="input-group">
                        <span class="input-group-addon">hours</span>
                        @Html.TextBoxFor(model => model.Intervention.Duration, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="siteEngineerTxt">Site Engineer</label>
                    @Html.TextBoxFor(model => model.Intervention.Employee.Name, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="clientTxt">Client</label>
                    @Html.TextBoxFor(model => model.Intervention.Client.Name, new { @readonly = "readonly", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="costTxt">Cost</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        @Html.TextBoxFor(model => model.Intervention.Costs, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="creationDateTxt">Creation Date</label>
                    @Html.TextBoxFor(model => model.Intervention.Created, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Administrative Info</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>State</td>
                <td>Employee</td>
                <td>Creation Date</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Intervention.StateRecords)
            {
                <tr>
                    <td>@item.State</td>
                    <td>@item.Employee</td>
                    <td>@item.Created</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="text-right">
            @Html.ActionLink("Add", "InterventionStateRecord", "Intervention", Model.Intervention.Id, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Quality Management Info</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Remaining Life</td>
                <td>Employee</td>
                <td>Date of Visit</td>
                <td>Notes</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Intervention.LifeRecords)
            {
                <tr>
                    <td>@item.RemainingLife</td>
                    <td>@item.Employee</td>
                    <td>@item.DateOfVisit</td>
                    <td>@item.Notes</td>
                    </tr>
            }
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="text-right">
            @Html.ActionLink("Add", "InterventionLifeRecord", "Intervention", Model.Intervention.Id, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

