﻿@using ENETMVC.Models
@model InterventionStateRecordViewModel
@{
    ViewBag.Title = "Intervention State Record";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

@using (Html.BeginForm("InterventionStateRecord", "Intervention", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.PossibleStates)
        @Html.DropDownListFor(model => model.SelectedState, Model.PossibleStates, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Employee)
        @Html.TextBoxFor(model => model.Employee, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CreationDate)
        @Html.TextBoxFor(model => model.CreationDate, new { @type = "datetime", @readonly = "readonly", @class = "form-control" })
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Save" />
        @Html.ActionLink("Cancel", "InterventionReview", "Intervention", new { interventionId = Url.RequestContext.RouteData.Values["interventionId"] }, new { @class = "btn btn-default" })
    </div>
}
