﻿@using ENETMVC.Models
@model InterventionLifeRecordViewModel
@{
    ViewBag.Title = "Intervention Life Record";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

@using (Html.BeginForm("InterventionLifeRecord", "Intervention", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.RemainingLife)
        <div class="input-group">
            @Html.TextBoxFor(model => model.RemainingLife, new { @type = "number", @class = "form-control" })
            <span class="input-group-addon">%</span>
        </div>
        @Html.ValidationMessageFor(model => model.RemainingLife, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Employee)
        @Html.TextBoxFor(model => model.Employee, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DateOfVisit)
        @Html.TextBoxFor(model => model.DateOfVisit, new { @type = "datetime", @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Notes)
        @Html.TextAreaFor(model => model.Notes, new { @rows = "3", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Save" />
        @Html.ActionLink("Cancel", "InterventionReview", "Intervention", new { interventionId = Url.RequestContext.RouteData.Values["interventionId"] }, new { @class = "btn btn-default" })
    </div>
}