﻿@model ENETMVC.Models.InterventionViewModel

@{
    ViewBag.Title = "Intervention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Type</td>
                <td>Site Engineer</td>
                <td>Created Time</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Interventions)
            {
                <tr>
                    <td>@Html.ActionLink(item.InterventionType.Name + "", "InterventionReview", "Intervention", new { @interventionId = item.Id }, null)</td>
                    <td>@item.Employee.Name</td>
                    <td>@item.Created</td>
                </tr>
            }
        </tbody>
    </table>
</div>