﻿@model ENETMVC.Models.ManagerViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TitleHead</title>
</head>
<body>
    <div class="page-header">
        <h2>@ViewBag.TitleHead</h2>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Client Name</td>
                    <td>Location</td>
                    <td>Site Engineer</td>
                    <td>Intervention Type</td>
                    <td>Materials Cost ($)</td>
                    <td>Duration (Hours)</td>
                    <td>Current State</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var intervention in Model.PastInterventions)
                {
                    <tr>
                        <td>@intervention.Client.Name</td>
                        <td>@intervention.Client.Location</td>
                        <td>@intervention.Employee.Name</td>
                        <td>@intervention.InterventionType.Name</td>
                        <td>@intervention.Costs.ToString()</td>
                        <td>@intervention.Duration.ToString()</td>
                        <td>@intervention.StateString</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>