﻿@using ENETMVC.Models

@model ENETMVC.Models.ManagerViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TitleHead</title>
</head>
<body>
    <div class="page-header">
        <h3>@ViewBag.TitleHead</h3>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Client Name</td>
                    <td>Location</td>
                    <td>Site Engineer</td>
                    <td>Intervention Type</td>
                    <td>Materials Cost ($)</td>
                    <td>Duration (Hours)</td>
                    <td>Approve</td>
                    <td>Cancel</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var intervention in Model.ProposedInterventions)
                {
                    <tr>
                        <td>@intervention.Client.Name</td>
                        <td>@intervention.Client.Location</td>
                        <td>@intervention.Employee.Name</td>
                        <td>@intervention.InterventionType.Name</td>
                        <td>@intervention.Costs.ToString()</td>
                        <td>@intervention.Duration.ToString()</td>
                        @using (Html.BeginForm("InterventionStateRecord", "Intervention", new { interventionId = @intervention.Id, ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.Hidden("SelectedState", "APPROVE")
                            <td><input type="submit" value="APPROVE" /></td>
                        }
                        @using (Html.BeginForm("InterventionStateRecord", "Intervention", new { interventionId = @intervention.Id, ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.Hidden("SelectedState", "CANCEL")
                            <td><input type="submit" value="CANCEL" /></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>