﻿@model ENETMVC.Models.ClientDetailViewModel

@{
    ViewBag.Title = "ClientDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>@Model.Client.Name</h3>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Type</td>
                <td>Site Engineer</td>
                <td>Created Time</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Interventions)
            {
                <tr>
                    <td>@Html.ActionLink(item.InterventionType.Name, "InterventionReview","Intervention", new { @interventionId = item.Id },null)</td>
                    <td>@item.Employee.Name</td>
                    <td>@item.Created</td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="text-right">
    @Html.ActionLink("New Intervention", "NewIntervention", "Client", null, new { @class = "btn btn-primary" })
</div>