﻿@model ENETMVC.Models.SiteEngineerIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>Clients</h3>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Name</td>
                <td>Location</td>
                <td>District</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DistrictClients)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "ClientDetail", "Client", new { @id = item.Id }, null)</td>
                    <td>@item.Location</td>
                    <td>@item.District</td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="text-right">
    @Html.ActionLink("Create", "NewClient", "Client", null, new {@class= "btn btn-primary" })
</div>

