﻿@model ENETMVC.Models.NewClientViewModel

@{
    ViewBag.Title = "New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
@using (Html.BeginForm("NewClient", "Client", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        <label for="NameBox">Name</label>
        @Html.TextBoxFor(model => model.Client.Name, new { @class = "form-control", @placeholder = "Client Name"})
    </div>
    @Html.ValidationMessageFor(model => model.Client.Name, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="LocationBox">Descriptive Location</label>
        @Html.TextBoxFor(model => model.Client.Location, new { @class = "form-control", @placeholder = "Descriptive Location" })
    </div>
    @Html.ValidationMessageFor(model => model.Client.Location, "", new { @class = "text-danger" })
    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Submit" />
        @Html.ActionLink("Cancel", "Client", "Client", null, new { @class = "btn btn-default" })
    </div>
}