﻿@model ENETMVC.Models.NewInterventionViewModel

@{
    ViewBag.Title = "New Intervention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
@using (Html.BeginForm("NewIntervention", "Client", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">Core Info</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="interventionTypeDdl">Type</label>
                        @Html.DropDownListFor(model => model.SelectedValue, Model.InterventionType, new { refresh = true, @class = "form-control", onchange = "document.getElementById('refresh').value = true;this.form.submit();" })
                    </div>
                    <div class="form-group">
                        <label for="interventionDurationTxt">Duration</label>
                        <div class="input-group">
                            <span class="input-group-addon">hours</span>
                            @Html.TextBoxFor(model => model.Duration, new { @type = "text", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="siteEngineerTxt">Site Engineer</label>
                        @Html.TextBoxFor(model => model.SiteEngineer, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="clientTxt">Client</label>
                        @Html.TextBoxFor(model => model.ClientName, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="costTxt">Cost</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            @Html.TextBoxFor(model => model.Cost, new { @type = "text", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="creationDateTxt">Creation Date</label>
                        @Html.TextBoxFor(model => model.CurrentDate, new { @readonly = "readonly", @type = "datetime", @class = "form-control" })
                    </div>
                </div>
                @Html.Hidden("refresh", false, new { @id = "refresh" })
            </div>
        </div>
    </div>
    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Save" />
        @Html.ActionLink("Cancel", "ClientDetail", "Client", null, new { @class = "btn btn-default" })
    </div>
}

