﻿@using ENETMVC.Models
@model ReportViewModel
@{
    ViewBag.Title = "District Monthly Cost Report";
}

<div class="page-header">
    <h3>District Monthly Cost Report</h3>
</div>

@if (IsPost)
{
    <table class="table">
        <thead>
            <tr>
                <th>Months</th>
                <th>Total Labour Hours</th>
                <th>Total Cost of Materials ($)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Report)
            {
                <tr>
                    @for (int i = 0; i < row.Columns.Count; i++)
                    {
                        <td>@row[i]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="District">Select a District</label>
        @Html.DropDownList("District", null, new { @class = "form-control" })
    </div>

    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Submit" />
        @Html.ActionLink("Back", "Index", "Report", null, new { @class = "btn btn-default" })
    </div>
}