﻿@using ENETMVC.Models
@model ReportViewModel
@{
    ViewBag.Title = "District Cost Report";
}

<div class="page-header">
    <h3>District Cost Report</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>District</th>
            <th>Total Labour Hours</th>
            <th>Total Cost of Materials ($)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Report)
            {
            <tr>
                @for (int i = 0; i < row.Columns.Count; i++)
                {
                    <td>@row[i]</td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="page-header">
    <h3>Grand Total</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Total Labour Hours</th>
            <th>Total Cost of Materials ($)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.GrandReport)
            {
            <tr>
                @for (int i = 0; i < row.Columns.Count; i++)
                {
                    <td>@row[i]</td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="text-right">
    @Html.ActionLink("Back", "Index", "Report", null, new { @class = "btn btn-default" })
</div>