﻿@{
    ViewBag.Title = "Reports";
}

<div class="page-header">
    <h3>Reports</h3>
</div>

<ul>
    <li>@Html.ActionLink("District Cost Report", "DistrictCostReport", "Report")</li>
    <li>@Html.ActionLink("District Monthly Cost Report", "DistrictMonthlyCostReport", "Report")</li>
    <li>@Html.ActionLink("Site Engineer Cost Report", "SiteEngineerCostReport", "Report")</li>
</ul>
