﻿@using ENETMVC.Models
@model EmployeeViewModel
@{
    ViewBag.Title = "Change District";
}

<div class="page-header">
    <h3>Change District</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>District</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Employee.Name</td>
            <td>@Model.Employee.District</td>
        </tr>
    </tbody>
</table>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="District">Select a District</label>
        @Html.DropDownList("District", null, new { @class = "form-control" })
    </div>

    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Save" />
        @Html.ActionLink("Back", "Index", "Employee", null, new { @class = "btn btn-default" })
    </div>
}

