﻿@using ENETMVC.Models
@model AccountantViewModel
@{
    ViewBag.Title = "Staff";
}

<div class="page-header">
    <h3>Site Engineers</h3>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>District</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var siteEngineer in Model.SiteEngineers)
        {
            <tr>
                <td>@Html.ActionLink(siteEngineer.Name, "ChangeDistrict", "Employee", new { @id = siteEngineer.Id }, null)</td>
                <td>@siteEngineer.District</td>
            </tr>
        }
    </tbody>
</table>

<div class="page-header">
    <h3>Managers</h3>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>District</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var manager in Model.Managers)
        {
            <tr>
                <td>@Html.ActionLink(manager.Name, "ChangeDistrict", "Employee", new { @id = manager.Id }, null)</td>
                <td>@manager.District</td>
            </tr>
        }
    </tbody>
</table>
