﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Intervention Monitoring System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Accountant"))
                    {
                        <li>@Html.ActionLink("Staff", "Index", "Employee")</li>
                        <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li>@Html.ActionLink("Proposed Interventions", "ProposedInterventions", "Intervention")</li>
                        <li>@Html.ActionLink("Past Interventions", "PastInterventions", "Intervention")</li>
                    }
                    @if (User.IsInRole("SiteEngineer"))
                    {
                        <li>@Html.ActionLink("Client", "Client", "Client")</li>
                        <li>@Html.ActionLink("Intervention", "Intervention", "Intervention")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year ENET Care</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
